.main {
    position: relative;
    padding: 30px;
    height: 82vh;
    background-color: #23272C;
    color: white;
}

.main>ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.items>li::marker {
    color: #53C1DE;
}

.bglogo {
    position: absolute;
    top: 20%;
    left: 60%;
    width: 250px;
    filter: saturate(0.1);
    opacity: 0.2;
}